In [1]:
#import dependencies
import pandas as pd
import gmaps
import requests
#Import the API key
from config import g_key

In [2]:
#store the csv saved created in part one into a dataframe
city_data_df= pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hobart,AU,2021-07-24 21:47:15,-42.8794,147.3294,45.27,70,75,3.00
1,1,Mount Pleasant,US,2021-07-24 21:46:02,32.7941,-79.8626,88.00,62,1,1.01
2,2,Viedma,AR,2021-07-24 21:50:26,-40.8135,-62.9967,45.50,63,100,10.11
3,3,Jamestown,US,2021-07-24 21:50:31,42.0970,-79.2353,74.52,88,90,5.01
4,4,Tiarei,PF,2021-07-24 21:50:31,-17.5333,-149.3333,80.62,73,34,10.00

In [6]:
#get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
#configure gmaps to use your google API Key.
gmaps.configure(api_key = g_key)
#1 assign the location to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
#2 assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]
#3 assign the figure varial to the gmaps.figure() attribute.
fig = gmaps.figure()
#4 assign the heatmap_layer varialbe to the heatmap_layer attribute and add in the locations. 
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)

#5 add the heatmap layer
fig.add_layer(heat_layer)
#6 Call the figure to plot the data.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent clouds
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent clouds
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [13]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Mount Pleasant,US,2021-07-24 21:46:02,32.7941,-79.8626,88.00,62,1,1.01
4,4,Tiarei,PF,2021-07-24 21:50:31,-17.5333,-149.3333,80.62,73,34,10.00
8,8,Port Washington,US,2021-07-24 21:50:33,40.8257,-73.6982,82.44,55,75,4.00
16,16,Vostok,RU,2021-07-24 21:50:36,46.4856,135.8833,78.17,68,78,1.57
18,18,Vaini,TO,2021-07-24 21:50:37,-21.2000,-175.2000,78.96,94,20,4.61
23,23,Siniscola,IT,2021-07-24 21:50:39,40.5719,9.6922,78.35,66,38,8.75
28,28,Bethel,US,2021-07-24 21:50:39,41.3712,-73.4140,81.36,58,1,8.05
34,34,Boulsa,BF,2021-07-24 21:50:42,12.6675,-0.5758,80.73,62,98,8.16
36,36,Catarman,PH,2021-07-24 21:50:43,12.4989,124.6377,81.25,81,64,14.25
37,37,Eirunepe,BR,2021-07-24 21:50:43,-6.6603,-69.8736,87.57,48,31,1.50

In [14]:
preferred_cities_df.count()

City_ID       207
City          207
Country       207
Date          207
Lat           207
Lng           207
Max Temp      207
Humidity      207
Cloudiness    207
Wind Speed    207
dtype: int64

In [15]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
1    Mount Pleasant      US     88.00  32.7941  -79.8626
4            Tiarei      PF     80.62 -17.5333 -149.3333
8   Port Washington      US     82.44  40.8257  -73.6982
16           Vostok      RU     78.17  46.4856  135.8833
18            Vaini      TO     78.96 -21.2000 -175.2000
23        Siniscola      IT     78.35  40.5719    9.6922
28           Bethel      US     81.36  41.3712  -73.4140
34           Boulsa      BF     80.73  12.6675   -0.5758
36         Catarman      PH     81.25  12.4989  124.6377
37         Eirunepe      BR     87.57  -6.6603  -69.8736

In [16]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [17]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Mount Pleasant,US,88.00,32.7941,-79.8626,Best Western Patriots Point
4,Tiarei,PF,80.62,-17.5333,-149.3333,Le Rocher de Tahiti
8,Port Washington,US,82.44,40.8257,-73.6982,The Andrew Hotel
16,Vostok,RU,78.17,46.4856,135.8833,
18,Vaini,TO,78.96,-21.2000,-175.2000,Keleti Beach Resort
23,Siniscola,IT,78.35,40.5719,9.6922,Hotel Sa Tanca E Bore
28,Bethel,US,81.36,41.3712,-73.4140,Courtyard by Marriott Danbury
34,Boulsa,BF,80.73,12.6675,-0.5758,AUBERGE Kiswendsida
36,Catarman,PH,81.25,12.4989,124.6377,Pink City Pension Hotel
37,Eirunepe,BR,87.57,-6.6603,-69.8736,Atrás de você

In [18]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))